@use '~styles/variables' as *;

@import 'styles/breakpoints.scss';

.test {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  @include mobileL {
    padding: 15px;
    font-size: 12px;
  }
}

.test:hover {
  background: rgb(248, 248, 248);
}

.edit {
  max-width: 35px;

  @include mobileL {
    max-width: 25px;
  }
}

.delete {
  max-width: 35px;

  @include mobileL {
    max-width: 25px;
  }
}

.delete_button {
  margin-top: -5px;
}

.buttons {
  position: absolute;
  top: 35px;
  right: 10px;
  display: flex;
  align-items: center;

  @include mobileL {
    top: 31px;
  }
}

.edit_button {
  margin-top: -5px;
}

.wrapper {
  position: relative;
}

.title {
  display: flex;
  align-items: center;
}

.date {
  margin-left: 10px;
  opacity: 50%;
}

.modal_title {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.modal_buttons {
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.modal_accept {
  background: $color-light;
  color: $color-green;
  padding: 10px;
  border-radius: 9px;
}

.modal_cancel {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 9px;
  background: $color-lightgray;
  color: $color-blue;
}
