.test {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.edit {
  max-width: 35px;
}

.delete {
  max-width: 35px;
}

.delete_button {
  margin-top: -5px;
}

.buttons {
  position: absolute;
  top: 35px;
  right: 10px;
  display: flex;
  align-items: center;
}

.edit_button {
  margin-top: -5px;
}

.wrapper {
  position: relative;
}
