@use '~styles/variables' as *;

@import 'styles/breakpoints.scss';

.back {
  max-width: 40px;
}

.wrapper {
  margin: 0 auto;
  width: 700px;

  @include mobileL {
    width: 98%;
  }
}

.test_title {
  margin: 30px auto;
  font-size: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer_result {
  margin-left: 10px;
}

.result_wrapper {
  margin-top: 5px;
  display: flex;
  font-size: 19px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.username {
  background: $color-lightgray;
  font-size: 18px;
  color: $color-blue;
  margin-left: 50px;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;

  @include mobileL {
    display: none;
  }
}

.user {
  background: $color-lightgray;
  color: $color-blue;
  font-size: 18px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;

  @include mobileL {
    display: none;
  }
}

.footer {
  height: 60px;
}

.modal_title {
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.modal_results {
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
}

.modal_buttons {
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.modal_accept {
  background: $color-light;
  color: $color-green;
  padding: 10px;
  border-radius: 9px;
}

.title {
  display: flex;
  align-items: center;
}

.name_app {
  font-size: 25px;
  color: $color-dark;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;

  @include mobileL {
    display: none;
  }
}

.finish_test {
  margin-right: 20px;
  background: $color-light;
  color: $color-green;
  padding: 10px;
  border-radius: 9px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.right {
  color: green;
}

.wrong {
  color: red;
}

.no_questions {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
