@use '~styles/variables' as *;

@import 'styles/breakpoints.scss';

.content {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.users {
  width: 500px;
  height: 100%;
}

.users_title {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-bottom: 20px;
  color: $color-lighttext;
}

.users_wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-bottom: 40px;
  color: $color-lighttext;
}

.signin_wrapper {
  width: 500px;

  @include mobileL {
    width: 98%;
  }
}

.signup_wrapper {
  margin-top: 40px;
  width: 500px;
}

.footer {
  width: 500px;
  border-top: 1px solid $color-darkgray;
  padding-top: 10px;
  margin: 45px auto 0;
  text-align: center;
  color: $color-darkgray;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding: 13px;
  background-color: rgba(255, 38, 0, 0.411);
}

.header {
  height: 60px;
  background: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  color: $color-dark;
  margin-left: 50px;

  @include mobileL {
    margin-left: 20px;
  }
}

.logout {
  padding: 10px;
  border-radius: 9px;
  background: $color-lightgray;
  color: $color-blue;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 450;
  margin-right: 60px;

  @include mobileL {
    margin-right: 20px;
    font-size: 13px;
  }
}

.text {
  font-size: 18px;
  color: $color-dark;
  margin-right: 30px;

  @include mobileL {
    display: none;
  }
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
