@use '~styles/variables' as *;

@import 'styles/breakpoints.scss';

.loader {
  margin: 5% auto;
  max-width: 200px;
}

.header {
  height: 60px;
  background: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  position: relative;

  @include mobileL {
    height: auto;
    flex-direction: column;
  }
}

.title {
  font-size: 25px;
  color: $color-dark;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;

  @include laptop {
    display: none;
  }
}

.logout {
  padding: 10px;
  border-radius: 9px;
  background: $color-lightgray;
  color: $color-blue;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 450;
  margin-right: 60px;

  @include laptop {
    margin-right: 10px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  background: $color-lightgray;
  font-size: 18px;
  color: $color-blue;
  margin-left: 50px;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;

  @include laptop {
    margin-left: 25px;
  }

  @include mobileL {
    display: none;
  }
}

.header_buttons {
  @include mobileL {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
}

.user {
  background: $color-lightgray;
  color: $color-blue;
  font-size: 18px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;

  @include laptop {
    display: none;
  }
}

.create {
  background: $color-light;
  color: $color-green;
  padding: 10px;
  border-radius: 9px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;
}

.search {
  background: rgb(240, 240, 240);
  border-radius: 3px;
  padding: 10px;
  width: 250px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: absolute;
  left: 43%;

  @include laptop {
    position: unset;
  }
}

.message {
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.modal_title {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.modal_input {
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.buttons {
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.modal_accept {
  background: $color-light;
  color: $color-green;
  padding: 10px;
  border-radius: 9px;
}

.modal_cancel {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 9px;
  background: $color-lightgray;
  color: $color-blue;
}

.create_loader {
  position: absolute;
  max-width: 150px;
  left: 18%;
}

.form_wrapper {
  position: relative;
}

.title_error {
  position: absolute;
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  bottom: -25px;
  left: 42px;
}
