.question {
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 700px;
  margin-top: 30px;
}

.answers {
  margin-top: 20px;
}

.title {
  font-size: 20px;
}
