@use '~styles/variables' as *;

.question {
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 700px;
  margin-top: 30px;
  position: relative;
}

.answers {
  margin-top: 20px;
}

.title {
  user-select: none;
  height: 24px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.warning {
  color: $color-darkgray;
}

.type {
  background: $color-lightgray;
  color: $color-blue;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.delete_img {
  max-width: 30px;
}

.delete {
  position: absolute;
  right: 15px;
  top: 15px;
}

.edit_img {
  max-width: 30px;
}

.edit_img_close {
  max-width: 30px;
  min-height: 31px;
}

.edit {
  position: absolute;
  right: 45px;
  top: 15px;
}

.delete_modal {
  padding: 5px;
  background: $color-light;
  color: $color-green;
  font-size: 15px;
}

.cancel_modal {
  padding: 5px;
  background: $color-lightgray;
  color: $color-blue;
  font-size: 15px;
}

.create_answer {
  margin-top: 10px;
}

.create_answer_input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid $color-lightgray;
}

.modal_title {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.modal_buttons {
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.modal_accept {
  background: $color-light;
  color: $color-green;
  padding: 10px;
  border-radius: 9px;
}

.modal_cancel {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 9px;
  background: $color-lightgray;
  color: $color-blue;
}

.error {
  color: tomato;
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: 'Roboto', sans-serif;
}

.number_answer {
  height: 31px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.create_button {
  background: $color-light;
  color: $color-green;
  padding: 9px;
  border-radius: 9px;
  margin-left: 10px;
}

.question_answer {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid $color-lightgray;
}
