@use '~styles/variables' as *;

.question {
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 700px;
  margin-top: 30px;
  position: relative;
}

.answers {
  margin-top: 20px;
}

.title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.warning {
  color: $color-darkgray;
}

.type {
  background: $color-lightgray;
  color: $color-blue;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.delete_img {
  max-width: 30px;
}

.delete {
  position: absolute;
  right: 15px;
  top: 15px;
}

.delete_modal {
  padding: 5px;
  background: $color-light;
  color: $color-green;
  font-size: 15px;
}

.cancel_modal {
  padding: 5px;
  background: $color-lightgray;
  color: $color-blue;
  font-size: 15px;
}
