.answer {
  height: 17px;
  font-family: 'Roboto', sans-serif;
  margin-top: 7px;
  display: flex;
  align-items: center;
  position: relative;
}

.text {
  margin-left: 20px;
}

.close_img {
  max-width: 14px;
  position: absolute;
  right: 0;
  top: 0;
}

.close {
  margin-left: 30px;
}
